/* Barra de navegación */
body{
    font-family: 'Times New Roman', Times, serif !important;
}
.navbar{
    background-color: black;
}
.navbar a{
    color: white;
    --bs-nav-link-hover-color: red;
    --bs-nav-link-disabled-color: White;
    --bs-navbar-active-color: red;
}
#imgprincipal{
    background-image: url(Imagenes/img1.jpg) !important;
    background-size: cover !important;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
}
.precios{  
    background-color: black !important;
    color: red !important;
}
.textcard{
    background-color: black !important;
    color: white !important;
}

